# Manipulación de DataFrames

In [2]:
import pandas as pd

# Volvemos a abrir el archivo que fue utilizado anteriormente:
datos = pd.read_excel("Datos.xlsx") 
print(datos)

   Legajo Nombre    Apellido  Quimica  Matematica  Fisica
0   34567   Juan    Martinez       10           7       9
1   34678  Pablo    Gonzales        4           9       4
2   34234  Maria  Citanovich        2           4       4
3   35679    Sol        Rios        9           8      10
4   36789  Paula       Lagos        8           5       8
5   32578  Tomas         Reu        1           4       2

In [2]:
print(datos['Quimica'])

0    10
1     4
2     2
3     9
4     8
5     1
Name: Quimica, dtype: int64

In [4]:
alumno = datos.loc[0] 
print(alumno)

Legajo           34567
Nombre            Juan
Apellido      Martinez
Quimica             10
Matematica           7
Fisica               9
Name: 0, dtype: object

In [5]:
# Podemos ingresar primero a la fila y luego a la columna:
alumno = datos.loc[0] 
print(alumno['Matematica'])

7

In [6]:
# Podemos ingresar primero a la columna y luego a la fila:
matematica = datos['Matematica']
print(matematica[0])

7

In [3]:
promedios = (datos['Quimica'] + datos['Matematica'] + datos['Fisica']) / 3
print('Todos los promedios')
print(promedios)
print('El promedio maximo es', promedios.max())

Todos los promedios
0    8.666667
1    5.666667
2    3.333333
3    9.000000
4    7.000000
5    2.333333
dtype: float64
El promedio maximo es 9.0

In [4]:
datos = pd.read_excel("Datos.xlsx") 
print("Datos:\n")
print(datos)

aprobados = datos[ datos['Quimica'] >= 4 ]
print("\nAprobados en Química:\n")
print(aprobados)

Datos:

   Legajo Nombre    Apellido  Quimica  Matematica  Fisica
0   34567   Juan    Martinez       10           7       9
1   34678  Pablo    Gonzales        4           9       4
2   34234  Maria  Citanovich        2           4       4
3   35679    Sol        Rios        9           8      10
4   36789  Paula       Lagos        8           5       8
5   32578  Tomas         Reu        1           4       2

Aprobados en Química:

   Legajo Nombre  Apellido  Quimica  Matematica  Fisica
0   34567   Juan  Martinez       10           7       9
1   34678  Pablo  Gonzales        4           9       4
3   35679    Sol      Rios        9           8      10
4   36789  Paula     Lagos        8           5       8

In [5]:
aprobados = datos[ (datos['Quimica'] < 4) | (datos['Matematica'] < 4) | (datos['Fisica'] < 4) ]
print("Reprobaron al menos una materia:")
print(aprobados)

Reprobaron al menos una materia:
   Legajo Nombre    Apellido  Quimica  Matematica  Fisica
2   34234  Maria  Citanovich        2           4       4
5   32578  Tomas         Reu        1           4       2

In [6]:
datos2 = pd.read_excel("Datos2.xlsx") 
print("Datos:\n")
print(datos2)

Datos:

   Legajo Nombre    Apellido Quimica Matematica  Fisica
0   34567   Juan    Martinez      10        NaN     9.0
1   34678  Pablo    Gonzales       4          9     4.0
2   34234  Maria  Citanovich       A          4     4.0
3   35679    Sol        Rios       9          8    10.0
4   36789  Paula       Lagos       8          A     8.0
5   32578  Tomas         Reu       1          4     NaN

In [10]:
datos2_matematica = datos2[ (datos2['Matematica'] != 'A') & (datos2['Matematica'].notna()) ]

datos2_matematica = datos2_matematica['Matematica'] # Nos quedamos con la columna de interés

print('Notas válidas en Matemática: ')
print(datos2_matematica)

Notas válidas en Matemática:
1    9
2    4
3    8
5    4
Name: Matematica, dtype: object